/* css styles */

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}


p {
  text-align: justify;
}



@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@400;700&display=swap');

body {
  font-family: 'Roboto Flex', sans-serif;
}


.table {
  margin-bottom: 20px; /* Adjust the value for more or less space */
}
